html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}



.container-fluid {
  height:100%;
  width:100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

}
.copy {
  margin-top: 5vh;
}

.input-group {
  width: 80%;
}
.input-group-prepend {
  width: 60%;
}
.input-group-text {
  width:100%;
}

.img-fluid {
  padding-bottom: 10vh;
  max-width: 80%;
}
.login {
  width:20%;
}
.login-bar {
  width:100%;
}